@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(181, 226, 112);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(1, 115, 1);
}

h1#principal {
    text-align: center;
    background-color: orange;
}

h2{
    color: rgb(73, 136, 73);
}

